<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="WPFConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\WPF.mdf;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>